[submodule "hardfloat"]
	path = hardfloat
	url = https://gitee.com/FredericJiang/berkeley-hardfloat.git
[submodule "torture"]
	path = torture
	url = https://gitee.com/FredericJiang/riscv-torture.git
[submodule "api-config-chipsalliance"]
	path = api-config-chipsalliance
	url = https://gitee.com/FredericJiang/api-config-chipsalliance.git
